= render partial: 'layouts/side_bar'
.chat-main
  .chat-main__header
    .chat-main__header__name
      = @group.name
    %a.chat-main__header__edit-button Edit
    .chat-main__header__members
      = current_user.name
  .chat-main__body
    - @messages.each do |message|
      .chat-main__body__message-name
        = current_user.name
      .chat-main__body__message-time
        =message.created_at
      .chat-main__body__message-body
        =message.text
  .chat-main__footer
    = form_for [@group, @message] do |f|
      = f.text_field :text , placeholder: "type a message", class: "message"
      = f.label :image do
        = fa_icon "file-picture-o lg" , class: "icon"
        = f.file_field :image, class: "hidden"
      = f.submit "send" , class: "submit"
