.chat-side
  .chat-side__user
    .chat-side__user__name
      =current_user.name
      =link_to do
        = fa_icon 'pencil-square lg', class: 'icon_edit'
      =link_to edit_user_path(current_user) do
        = fa_icon 'cog lg', class: 'icon_cog'
  .chat-side__group
    .chat-side__group__name たけし軍団
    .chat-side__group__message なんだこのやろー
.chat-main
  .chat-main__header
    .chat-main__header__name たけし軍団
    %a.chat-main__header__edit-button Edit
    .chat-main__header__members
      = current_user.name
  .chat-main__body
    .chat-main__body__message-name
      = current_user.name
    .chat-main__body__message-time 2018/08/08 12:59
    .chat-main__body__message-body なんだこのやろー
  .chat-main__footer
    %input#message-body.message{placeholder: "type a message" , type: "text" , name: "message"}

    %label{for: "file"}
      = fa_icon "file-picture-o lg" , class: "icon"
      %input#file{type: "file"}
    %input.submit{type: "submit" , name: "commit" , value:"send" , "data-basable-with"=>"send"}
