= render partial: 'layouts/side_bar'
.chat-main
  .chat-main__header
    .chat-main__header__name
      = @group.name
    .chat-main__header__edit-button
      %label.edit
        =link_to "Edit", edit_group_path(@group)
    .chat-main__header__members
      = current_user.name
  .chat-main__body
    - @messages.each do |message|
      .chat-main__body__message-name
        = current_user.name
      .chat-main__body__message-time
        =message.created_at
      .chat-main__body__message-body
        - if message.text.present?
          %p.lower-message__content
            = message.text
        = image_tag message.image, class: 'lower-message__image' if message.image.present?
  .chat-main__footer
    = form_for [@group, @message], html: {class: "message_js"} do |f|
      = f.text_field :text , placeholder: "type a message", class: "message"
      = f.label :image do
        = fa_icon "file-picture-o lg" , class: "icon"
        = f.file_field :image, class: 'hidden'
      = f.submit "send" , class: "submit"
